<span class='topic-user-role-badges'>
    <a class='user_role {{userRole}}' title="{{UserRoleI18n 'topic.user_roles.' role=this.userRole}} Post">{{UserRoleI18n "topic.user_roles." role=this.userRole}}</a>
</span>
